<%- include ("templates/header.ejs") %>
Invalid email/password combination<br/>
<button class="btn btn-warning rounded-pill px-3" type="button" onclick="location.href='/login'">Try again</button>
<%- include ("templates/footer.ejs") %>