<%- include ('templates/header.ejs') %>
Please provide a valid <%= error %> <br/>
<button class="btn btn-warning rounded-pill px-3" type="button" onclick="location.href='/signup'">Try again</button>
<%- include ('templates/footer.ejs') %>