<li>
  <%= user.username %> (<%= user.user_type %>) 
  <form action="/promote" method="post" style="display:inline">
    <input type="hidden" name="userId" value="<%= user.username %>">
    <button class="btn btn-success rounded-pill px-3" type="button submit">Promote to admin</button>
  </form>
  <form action="/demote" method="post" style="display:inline">
    <input type="hidden" name="userId" value="<%= user.username %>">
    <button class="btn btn-danger rounded-pill px-3" type="button submit">Demote to user</button>
  </form>
</li>
